In [2]:
import pandas
df = pandas.read_csv('Data/house-prices.csv')

In [2]:
df.head()

   Home   Price  SqFt  Bedrooms  Bathrooms  Offers Brick Neighborhood
0     1  114300  1790         2          2       2    No         East
1     2  114200  2030         4          2       3    No         East
2     3  114800  1740         3          2       1    No         East
3     4   94700  1980         3          2       3    No         East
4     5  119800  2130         3          3       3    No         East

In [3]:
house = pandas.concat([df, pandas.get_dummies(df['Brick']), pandas.get_dummies(df['Neighborhood'])], axis = 1)
del house['No']
del house['West']
del house['Brick']
del house['Neighborhood']
del house['Home']
house.head()

    Price  SqFt  Bedrooms  Bathrooms  Offers  Yes  East  North
0  114300  1790         2          2       2    0     1      0
1  114200  2030         4          2       3    0     1      0
2  114800  1740         3          2       1    0     1      0
3   94700  1980         3          2       3    0     1      0
4  119800  2130         3          3       3    0     1      0

In [4]:
X = house[['SqFt', 'Bedrooms', 'Bathrooms', 'Offers', 'Yes', 'East', 'North']]
Y = house['Price'].values

In [6]:
import statsmodels.api as sm
X2 = sm.add_constant(X)
est = sm.OLS(Y, X2)
est2 = est.fit()
print(est2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.869
Model:                            OLS   Adj. R-squared:                  0.861
Method:                 Least Squares   F-statistic:                     113.3
Date:                Sun, 07 May 2017   Prob (F-statistic):           8.25e-50
Time:                        15:43:21   Log-Likelihood:                -1356.7
No. Observations:                 128   AIC:                             2729.
Df Residuals:                     120   BIC:                             2752.
Df Model:                           7
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
const       2.284e+04   1.02e+04      2.231      0.028      2573.371  4.31e+04
SqFt          52.9937      5.734      9.242      0.000        41.640    64.347
Bedrooms    4246.7939   1597.911      2.658      0.009      1083.042  7410.546
Bathrooms   7883.2785   2117.035      3.724      0.000      3691.696  1.21e+04
Offers     -8267.4883   1084.777     -7.621      0.000     -1.04e+04 -6119.706
Yes          1.73e+04   1981.616      8.729      0.000      1.34e+04  2.12e+04
East       -2.224e+04   2531.758     -8.785      0.000     -2.73e+04 -1.72e+04
North      -2.068e+04   3148.954     -6.568      0.000     -2.69e+04 -1.44e+04
==============================================================================
Omnibus:                        3.026   Durbin-Watson:                   1.921
Prob(Omnibus):                  0.220   Jarque-Bera (JB):                2.483
Skew:                           0.268   Prob(JB):                        0.289
Kurtosis:                       3.421   Cond. No.                     2.38e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.38e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [6]:
predictorcols = ['SqFt', 'Bedrooms', 'Bathrooms', 'Offers', 'Yes', 'East', 'North']
import itertools
for variables in itertools.combinations(predictorcols, 1):
    print(variables)

('SqFt',)
('Bedrooms',)
('Bathrooms',)
('Offers',)
('Yes',)
('East',)
('North',)

In [8]:
import statsmodels.api as sm
import itertools
AICs = {}
for k in range(1,len(predictorcols)+1):
    for variables in itertools.combinations(predictorcols, k):
        predictors  = X[list(variables)]
        predictors2 = sm.add_constant(predictors)
        est = sm.OLS(Y, predictors2)
        res = est.fit()
        AICs[variables] = res.aic

In [9]:
AICs

{('SqFt',): 2930.399221278264,
 ('Bedrooms',): 2935.671458496874,
 ('Bathrooms',): 2936.1658574541634,
 ('Offers',): 2963.862468153879,
 ('Yes',): 2947.744826785076,
 ('East',): 2974.473573747804,
 ('North',): 2931.3623066402315,
 ('SqFt', 'Bedrooms'): 2915.2245344840526,
 ('SqFt', 'Bathrooms'): 2917.6684903192145,
 ('SqFt', 'Offers'): 2865.6942475349356,
 ('SqFt', 'Yes'): 2896.9093592727936,
 ('SqFt', 'East'): 2927.0624268771817,
 ('SqFt', 'North'): 2897.745654169053,
 ('Bedrooms', 'Bathrooms'): 2916.035689947397,
 ('Bedrooms', 'Offers'): 2909.8050956787056,
 ('Bedrooms', 'Yes'): 2900.1164490230194,
 ('Bedrooms', 'East'): 2936.0608986117104,
 ('Bedrooms', 'North'): 2908.6992372764653,
 ('Bathrooms', 'Offers'): 2907.5652435435345,
 ('Bathrooms', 'Yes'): 2911.69774341551,
 ('Bathrooms', 'East'): 2934.545689960338,
 ('Bathrooms', 'North'): 2902.5097472661846,
 ('Offers', 'Yes'): 2939.20844689237,
 ('Offers', 'East'): 2962.720064186388,
 ('Offers', 'North'): 2929.775806458391,
 ('Yes', 'East'): 2942.28829217051,
 ('Yes', 'North'): 2912.954323082766,
 ('East', 'North'): 2872.5800563627145,
 ('SqFt', 'Bedrooms', 'Bathrooms'): 2907.000815899825,
 ('SqFt', 'Bedrooms', 'Offers'): 2843.9295767865015,
 ('SqFt', 'Bedrooms', 'Yes'): 2876.344825432937,
 ('SqFt', 'Bedrooms', 'East'): 2913.5512313749327,
 ('SqFt', 'Bedrooms', 'North'): 2890.367428108189,
 ('SqFt', 'Bathrooms', 'Offers'): 2845.9980117967866,
 ('SqFt', 'Bathrooms', 'Yes'): 2887.2072892326632,
 ('SqFt', 'Bathrooms', 'East'): 2914.236194286925,
 ('SqFt', 'Bathrooms', 'North'): 2888.033277696584,
 ('SqFt', 'Offers', 'Yes'): 2831.63455532226,
 ('SqFt', 'Offers', 'East'): 2856.479762504593,
 ('SqFt', 'Offers', 'North'): 2858.0120865040126,
 ('SqFt', 'Yes', 'East'): 2885.3393313043966,
 ('SqFt', 'Yes', 'North'): 2872.42118041961,
 ('SqFt', 'East', 'North'): 2833.232083725021,
 ('Bedrooms', 'Bathrooms', 'Offers'): 2875.8064850101,
 ('Bedrooms', 'Bathrooms', 'Yes'): 2883.9535408052025,
 ('Bedrooms', 'Bathrooms', 'East'): 2915.530504833914,
 ('Bedrooms', 'Bathrooms', 'North'): 2891.688479196452,
 ('Bedrooms', 'Offers', 'Yes'): 2876.1212136518125,
 ('Bedrooms', 'Offers', 'East'): 2909.7160817866798,
 ('Bedrooms', 'Offers', 'North'): 2897.0101565848367,
 ('Bedrooms', 'Yes', 'East'): 2895.694877420348,
 ('Bedrooms', 'Yes', 'North'): 2881.978664321691,
 ('Bedrooms', 'East', 'North'): 2865.1945864176973,
 ('Bathrooms', 'Offers', 'Yes'): 2886.9093972165865,
 ('Bathrooms', 'Offers', 'East'): 2904.5344416559515,
 ('Bathrooms', 'Offers', 'North'): 2889.2960833821353,
 ('Bathrooms', 'Yes', 'East'): 2904.736917772457,
 ('Bathrooms', 'Yes', 'North'): 2884.6660307057455,
 ('Bathrooms', 'East', 'North'): 2845.2816438971668,
 ('Offers', 'Yes', 'East'): 2933.2079284001748,
 ('Offers', 'Yes', 'North'): 2911.8924981689534,
 ('Offers', 'East', 'North'): 2874.20979366058,
 ('Yes', 'East', 'North'): 2838.5831627932853,
 ('SqFt', 'Bedrooms', 'Bathrooms', 'Offers'): 2829.7813142413265,
 ('SqFt', 'Bedrooms', 'Bathrooms', 'Yes'): 2871.2162301755466,
 ('SqFt', 'Bedrooms', 'Bathrooms', 'East'): 2905.034736108696,
 ('SqFt', 'Bedrooms', 'Bathrooms', 'North'): 2883.3836458127676,
 ('SqFt', 'Bedrooms', 'Offers', 'Yes'): 2800.9023207769756,
 ('SqFt', 'Bedrooms', 'Offers', 'East'): 2836.951200670925,
 ('SqFt', 'Bedrooms', 'Offers', 'North'): 2841.745164717483,
 ('SqFt', 'Bedrooms', 'Yes', 'East'): 2867.0505542740348,
 ('SqFt', 'Bedrooms', 'Yes', 'North'): 2859.980090906186,
 ('SqFt', 'Bedrooms', 'East', 'North'): 2834.658771033926,
 ('SqFt', 'Bathrooms', 'Offers', 'Yes'): 2814.3478467186924,
 ('SqFt', 'Bathrooms', 'Offers', 'East'): 2835.7456344133498,
 ('SqFt', 'Bathrooms', 'Offers', 'North'): 2840.9770997084643,
 ('SqFt', 'Bathrooms', 'Yes', 'East'): 2875.733102825147,
 ('SqFt', 'Bathrooms', 'Yes', 'North'): 2864.5628325965004,
 ('SqFt', 'Bathrooms', 'East', 'North'): 2825.2470742876903,
 ('SqFt', 'Offers', 'Yes', 'East'): 2809.050935059978,
 ('SqFt', 'Offers', 'Yes', 'North'): 2827.985422437025,
 ('SqFt', 'Offers', 'East', 'North'): 2805.929045591597,
 ('SqFt', 'Yes', 'East', 'North'): 2783.192203175976,
 ('Bedrooms', 'Bathrooms', 'Offers', 'Yes'): 2845.973295559599,
 ('Bedrooms', 'Bathrooms', 'Offers', 'East'): 2874.0450207228523,
 ('Bedrooms', 'Bathrooms', 'Offers', 'North'): 2868.348277555212,
 ('Bedrooms', 'Bathrooms', 'Yes', 'East'): 2878.130608622273,
 ('Bedrooms', 'Bathrooms', 'Yes', 'North'): 2867.1680392477792,
 ('Bedrooms', 'Bathrooms', 'East', 'North'): 2844.450848475933,
 ('Bedrooms', 'Offers', 'Yes', 'East'): 2870.7750092745096,
 ('Bedrooms', 'Offers', 'Yes', 'North'): 2869.130587618044,
 ('Bedrooms', 'Offers', 'East', 'North'): 2863.364212884611,
 ('Bedrooms', 'Yes', 'East', 'North'): 2825.1279207589587,
 ('Bathrooms', 'Offers', 'Yes', 'East'): 2878.1843633318936,
 ('Bathrooms', 'Offers', 'Yes', 'North'): 2872.471448479189,
 ('Bathrooms', 'Offers', 'East', 'North'): 2840.4614473213255,
 ('Bathrooms', 'Yes', 'East', 'North'): 2810.176874592136,
 ('Offers', 'Yes', 'East', 'North'): 2840.512878305342,
 ('SqFt', 'Bedrooms', 'Bathrooms', 'Offers', 'Yes'): 2789.5148143560264,
 ('SqFt', 'Bedrooms', 'Bathrooms', 'Offers', 'East'): 2821.6156740184647,
 ('SqFt', 'Bedrooms', 'Bathrooms', 'Offers', 'North'): 2828.6563145874266,
 ('SqFt', 'Bedrooms', 'Bathrooms', 'Yes', 'East'): 2861.7264845022632,
 ('SqFt', 'Bedrooms', 'Bathrooms', 'Yes', 'North'): 2855.3069911762996,
 ('SqFt', 'Bedrooms', 'Bathrooms', 'East', 'North'): 2827.1498026886024,
 ('SqFt', 'Bedrooms', 'Offers', 'Yes', 'East'): 2779.7703894909137,
 ('SqFt', 'Bedrooms', 'Offers', 'Yes', 'North'): 2801.884537713603,
 ('SqFt', 'Bedrooms', 'Offers', 'East', 'North'): 2803.487432593777,
 ('SqFt', 'Bedrooms', 'Yes', 'East', 'North'): 2783.144374438954,
 ('SqFt', 'Bathrooms', 'Offers', 'Yes', 'East'): 2790.178633778983,
 ('SqFt', 'Bathrooms', 'Offers', 'Yes', 'North'): 2812.4224389768956,
 ('SqFt', 'Bathrooms', 'Offers', 'East', 'North'): 2791.0896516858443,
 ('SqFt', 'Bathrooms', 'Yes', 'East', 'North'): 2776.9030655919946,
 ('SqFt', 'Offers', 'Yes', 'East', 'North'): 2748.8490492259953,
 ('Bedrooms', 'Bathrooms', 'Offers', 'Yes', 'East'): 2837.9283737790706,
 ('Bedrooms', 'Bathrooms', 'Offers', 'Yes', 'North'): 2842.48462875643,
 ('Bedrooms', 'Bathrooms', 'Offers', 'East', 'North'): 2835.1504664520085,
 ('Bedrooms', 'Bathrooms', 'Yes', 'East', 'North'): 2805.44429215762,
 ('Bedrooms', 'Offers', 'Yes', 'East', 'North'): 2823.342446587056,
 ('Bathrooms', 'Offers', 'Yes', 'East', 'North'): 2806.847764041801,
 ('SqFt', 'Bedrooms', 'Bathrooms', 'Offers', 'Yes', 'East'): 2766.624649944451,
 ('SqFt',
  'Bedrooms',
  'Bathrooms',
  'Offers',
  'Yes',
  'North'): 2790.885108189564,
 ('SqFt',
  'Bedrooms',
  'Bathrooms',
  'Offers',
  'East',
  'North'): 2790.245252744008,
 ('SqFt', 'Bedrooms', 'Bathrooms', 'Yes', 'East', 'North'): 2777.849673430561,
 ('SqFt', 'Bedrooms', 'Offers', 'Yes', 'East', 'North'): 2741.3156609981506,
 ('SqFt', 'Bathrooms', 'Offers', 'Yes', 'East', 'North'): 2734.639925628371,
 ('Bedrooms',
  'Bathrooms',
  'Offers',
  'Yes',
  'East',
  'North'): 2796.119671677918,
 ('SqFt',
  'Bedrooms',
  'Bathrooms',
  'Offers',
  'Yes',
  'East',
  'North'): 2729.3189814012494}

In [11]:
from collections import Counter
c = Counter(AICs)
#c.most_common()    #最大前10
c.most_common()[::-10]

[(('SqFt', 'Bedrooms', 'Bathrooms', 'Offers', 'Yes', 'East', 'North'),
  2729.3189814012494),
 (('SqFt', 'Bedrooms', 'Bathrooms', 'Offers', 'Yes'), 2789.5148143560264),
 (('SqFt', 'Offers', 'East', 'North'), 2805.929045591597),
 (('SqFt', 'Bedrooms', 'Bathrooms', 'East', 'North'), 2827.1498026886024),
 (('Bedrooms', 'Bathrooms', 'Offers', 'Yes', 'East'), 2837.9283737790706),
 (('Bedrooms', 'Bathrooms', 'Offers', 'Yes'), 2845.973295559599),
 (('SqFt', 'Offers'), 2865.6942475349356),
 (('Bedrooms', 'Bathrooms', 'Offers', 'East'), 2874.0450207228523),
 (('Bedrooms', 'Bathrooms', 'Yes'), 2883.9535408052025),
 (('SqFt', 'Yes'), 2896.9093592727936),
 (('Bedrooms', 'North'), 2908.6992372764653),
 (('Bedrooms', 'Bathrooms'), 2916.035689947397),
 (('Bathrooms',), 2936.1658574541634)]